<div *ngIf="users$">
  <table class="table table-striped">
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let user of users$ | async">
        <button (click)="incrementUser(user.email)">👍</button>
        <button (click)="decrementUser(user.email)">👎</button>
        <td>{{user.points}}</td>
        <td><b>Title</b></td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>

        <button (click)="delUser(user.name)">Remove Post</button>
      </tr>
    </tbody>
  </table>
</div>
